
/* =============================================================================
   Site Styles
   ========================================================================== */

body {
	background-color: #505050;
	margin: 0 auto;
}

h1 {
	color: #FFF;
	font-size: 26px;
	font-weight: normal;
	line-height: normal;
	padding: 10px 0 0 10px;
}

h2 {
	font-size: 16px;	
}



/* =============================================================================
   Header
   ========================================================================== */
header {
	margin-bottom: 0;
}

#fcc-banner {
	background: url("../img/bgNav.png") repeat-x scroll 0 0 transparent;
	display: block;
	overflow: hidden;
}

#fcc-banner a, #fcc-banner h1 {
	float: left;
}

#fcc-banner h1 {
	margin-left: 15px;
}

/* =============================================================================
   Page Heading
   ========================================================================== */
#pg-head {
	border-bottom: 1px dotted #CCC;
	margin: 10px 0 35px;
	overflow: hidden;
}

/* =============================================================================
   Utility Navigation
   ========================================================================== */
#nav-utility {
	padding: 20px 0 0;
	text-align: right;
}

#nav-utility a {
	font-weight: bold;
}

.hd-sections {
	display: none;
	visibility: hidden;
}

.hd-sections a {
	background-color: #000;
	border-color: #000;
	border-radius: 6px 6px 0 0;
	border-style: solid;
	border-width: 1px 1px 0;
	padding: 11px 14px 13px;
}



/* =============================================================================
   Footer
   ========================================================================== */
footer {
	background-color: #505050;
	clear: both;
	color: #EBEBEB;
	font-size: 11px;
	line-height: 18px;
	margin: 0;
	padding: 0;
}

#footer-nav {
	overflow: hidden;
	padding: 20px 0 50px 0;
}

#footer-nav .col {
	display: inline;
	float: left;
	margin: 0;
	width: 220px;
}

footer ul {
	margin:0;
	padding-top:10px;
}

footer li {
	list-style-type:none;
	line-height: 18px;
	margin:0 0 3px;
	padding-right:19px;
}

footer a {
	color:#EBEBEB;
	height:30px;
	padding-top:2px;
	text-shadow: 0 1px 0 #000000;
}

footer a:hover {
	color: #FFF;
}

.ft-map {
	margin-top: 0;
}


/* =============================================================================
   Map
   ========================================================================== */
#map-container {
	background-color: #FFFFFF;
	overflow: hidden;
	position: relative;
	width: 100%;
}

#map-body {
	float: left;
	height: 700px;
	position: relative;
	width: 65%;
}

#map {
	height: 100%;
	width: 100%;	
}

#map img {
	max-width: none; 	
}

#map-layerSwitch ul {
    background: none repeat scroll 0 0 rgba(0, 60, 136, 0.5);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    margin: 0;
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 999;
}
			
#map-layerSwitch li {
	 list-style-type: none;
    margin-bottom: 0;	
}

#map-layerSwitch a.active {
    background-color: #1F90FF;
    color: #FFFFFF;
}
#map-layerSwitch a {
    background: none repeat scroll 0 0 transparent;
    color: white;
    display: block;
    font-weight: bold;
    padding: 6px 5px;
    width: 100px;
}

/* =============================================================================
   Map Sidebar
   ========================================================================== */

#map-sidebar {
	background-color: #F6F6F6;
	float: left;
	/*border: 1px solid #CCC;
	border-radius: 6px 6px 6px 6px;
	box-shadow: 3px 3px 5px #CCCCCC;*/
	height: 700px;
	/*padding: 15px;
	position: absolute;*/
	right: 0;
	top: 0;
	width: 35%;
}

.sidebar-content {
	margin: 10px; 	
}

#sel-boundary label {
	display: inline;
	font-weight: normal;
	margin: 0 0 0 5px;
}

#sel-boundary input {
	margin: 0;	
}

#map-sidebar h3 {
	font-size: 14px;
	line-height: normal;
	margin: 0;	
	padding: 0;
}

#map-sidebar hr { 
	border-color: #DDD -moz-use-text-color #FFFFFF; 
}

#selectedService {
	display: none;
	margin-top: 25px;	
}



/* =============================================================================
   Links
   ========================================================================== */
#skip {
	position:absolute;
	left:35%;
	top:0;
	z-index:900;
	width:50%;
}

#skip a {
	display:block;
	width:50%;
	padding:5px;
	border-width:0 1px 1px;
	border-style:solid;
	border-color:#8cdb78;
	background:#000;
	color:#bfe9ff;
	text-align:center;
}

#skip a:hover, #skip a:focus, #skip a:active {
	color:#9cf285;
	text-decoration:none;
}



/* =============================================================================
   Tables
   ========================================================================== */
table {
	border-bottom: 1px solid #D3D3D3;
	width: 100%;
}

.tbl-data th, .tbl-data th {
	border-bottom: 2px solid #D3D3D3;
	color: #999999;
	font-weight: bold;
	padding: 5px 15px 0 5px;
	text-align: left;
}

.tbl-data td {
	font-size: 11.5px;
	padding: 5px 15px 5px 5px;
	white-space: nowrap;
}

.odd td {
	background-color: #F3F6FB;
}

.tbl-data tr:hover td {
	background-color: #FFFFE6;
}



/* =============================================================================
   Widgets
   ========================================================================== */

.panel-scroll {
	border: 1px solid #CCCCCC;
	height: 300px;
	overflow: scroll;
	padding: 5px;
}

