<!DOCTYPE html>
<!--
    __________________   __  ___                
   / ____/ ____/ ____/  /  |/  /___ _____  _____
  / /_  / /   / /      / /|_/ / __ `/ __ \/ ___/
 / __/ / /___/ /___   / /  / / /_/ / /_/ (__  ) 
/_/    \____/\____/  /_/  /_/\__,_/ .___/____/  
                                 /_/            
-->
<html class="no-js" lang="en">

<head>
    <title>Responsive</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="FCC - Broadband Map Progress Report">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="img/fcc_favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/mapbox.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">
	<link href="css/app1.css" rel="stylesheet">
	
</head>

<body style="margin: 0px;">
<div id="map" style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; height: 100%"></div>



    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/vendor/jszip.min.js"></script>
    <script src="js/vendor/jszip-utils.js"></script>
    <script src="js/vendor/FileSaver.min.js"></script>
	<script src="js/vendor/Blob.js"></script>
	<script src='https://api.tiles.mapbox.com/mapbox.js/v2.2.1/mapbox.js'></script>
	<link href='https://api.tiles.mapbox.com/mapbox.js/v2.2.1/mapbox.css' rel='stylesheet' />
	<script src="//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-pip/v0.1.0/leaflet-pip.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
	 <script src="mapOptions.js"></script>
	
    <script>
	
	var map;
	var layerList = [];
	var mapLayers = [];
	var mapOptions;
	var map_info;
	var layers_info;
	
	
	function createMap() {
	
	map_info = mapOptions.fields.field_description.und[0].value;
	map_info = JSON.parse(map_info);
	layers_info = map_info.layers;
	
	var initialzoom = 5;
	var maxzoom = 15;
	var minzoom = 3;
	var center_lat = 50;
	var center_lon = -105;
	if (map_info.mapzoom) {
		if (map_info.mapzoom.initialzoom) {
			initialzoom = map_info.mapzoom.initialzoom;
		}
		if (map_info.mapzoom.maxzoom) {
			maxzoom = map_info.mapzoom.maxzoom;
		}
		if (map_info.mapzoom.minzoom) {
			minzoom = map_info.mapzoom.minzoom;
		}
	}
	if (map_info.mapcenter) {
		if (map_info.mapcenter.center_latitude) {
			center_lat = map_info.mapcenter.latitude;
		}
		if (map_info.mapcenter.center_longitude) {
			center_lon = map_info.mapcenter.longitude;
		}
	}

	
	console.log(initialzoom + ' ' + maxzoom + ' ' + minzoom + ' ' + center_lat + ' ' + center_lon);
	
	
    L.mapbox.accessToken = 'pk.eyJ1IjoiY29tcHV0ZWNoIiwiYSI6InMyblMya3cifQ.P8yppesHki5qMyxTc2CNLg';
     map = L.mapbox.map('map', 'fcc.k74ed5ge', {
             attributionControl: true,
             maxZoom: maxzoom,
			 minZoom: minzoom
         })
         .setView([center_lat, center_lon], initialzoom);
		 

	var zindex1 = 10;
	for (var i = 0; i < layers_info.length; i++) {
		zindex1++;
		console.log(layers_info[i]);
		if (layers_info[i].layertype == "mapbox") {
			if (layers_info[i].checked == "yes") {
				mapLayers.push(L.mapbox.tileLayer(layers_info[i].mapid).setZIndex(zindex1).addTo(map));
			}
			else {
				mapLayers.push(L.mapbox.tileLayer(layers_info[i].mapid).setZIndex(zindex1));
			}
			console.log("layer " + i);
		}
		else if (layers_info[i].layertype == "geoserver") {
			console.log("layer " + i);
			if (layers_info[i].checked == "yes") {
				mapLayers.push(L.tileLayer.wms(layers_info[i].geohost + '/geoserver/wms', {
					format: 'image/png',
					transparent: true,
					layers: layers_info[i].layername,
					styles: layers_info[i].style
				}).setZIndex(zindex1).addTo(map));
			}
			else {
				mapLayers.push(L.tileLayer.wms(layers_info[i].geohost + '/geoserver/wms', {
					format: 'image/png',
					transparent: true,
					layers: layers_info[i].layername,
					styles: layers_info[i].style
				}).setZIndex(zindex1));
			}
		
		}
	}
		 
	console.log(map_info);
	baseStreet = L.mapbox.tileLayer('fcc.k74ed5ge');
	baseSatellite = L.mapbox.tileLayer('fcc.k74d7n0g');
	baseTerrain = L.mapbox.tileLayer('fcc.k74cm3ol');
	var baseLayer = {};
	for (var i = 0; i < map_info.basemap.length; i++) {
		if (i == 0) {
			if (map_info.basemap[i] == "street") {
				baseLayer["Street"] = baseStreet.addTo(map);
			}
			else if (map_info.basemap[i] == "satellite") {
				baseLayer["Satellite"] = baseSatellite.addTo(map);
			}
			else if (map_info.basemap[i] == "terrain") {
				baseLayer["Terrain"] = baseTerrain.addTo(map);
			}
		}
		else {
			if (map_info.basemap[i] == "street") {
				baseLayer["Street"] = baseStreet;
			}
			else if (map_info.basemap[i] == "satellite") {
				baseLayer["Satellite"] = baseSatellite;
			}
			else if (map_info.basemap[i] == "terrain") {
				baseLayer["Terrain"] = baseTerrain;
			}
		
		}
		
	}
	
	
	layerControl = new L.Control.Layers(
		baseLayer,
     {

     }, {
		position: 'topleft'
	 }
	 ).addTo(map);
		
	
	if (map_info.scalecontrol == "yes") {
		 L.control.scale({
			 position: 'bottomright'
		 }).addTo(map);
	 }

	}
	

	$(document).ready(function() {
		createMap();

	});


    </script>



</body>

</html>
