html {
  -webkit-font-smoothing: antialiased;
  }
body {
  font: 13px/18px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #202020;
  }

/*-----------------------------------
  Typography
-------------------------------------*/
@font-face {
  font-family: 'AlternateGothicLTNo3Regular';
  src: url('../fonts/alternate_gothic-webfont.eot');
  src: url('../fonts/alternate_gothic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/alternate_gothic-webfont.woff') format('woff'),
    url('../fonts/alternate_gothic-webfont.ttf') format('truetype'),
    url('../fonts/alternate_gothic-webfont.svg#AlternateGothicLTNo3Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  }

h1,h2,h3,h4,h5 {
  font-family: 'AlternateGothicLTNo3Regular',Arial, sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  margin: 0;
  }
h1 { font-size: 32px; line-height: 32px; margin: 0 0 5px; }
h2 { font-size: 30px; line-height: 32px; margin: 0 0 5px; }
h3 { font-size: 24px; line-height: 28px; margin: 10px 0; }
h4 { font-size: 20px; line-height: 22px; margin: 10px 0; }
h5 { font-size: 18px; line-height: 18px; margin: 10px 0; }
h6 { font-size: 14px; line-height: 18px; margin: 0 0 10px; }

a {
  text-decoration: none;
  }
a.link-pop {
  background: #000 url(../images/sprite.png) no-repeat 63px -54px;
  font-family: 'AlternateGothicLTNo3Regular',Arial, sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  margin: 0;
  display: block;
  color: #B3B3B3;
  display: block;
  height: 20px;
  line-height: 20px;
  padding: 5px 20px 5px 10px;
  font-size: 24px;
  height: 40px;
  line-height: 40px;
  }
  a.link-pop.active,
  a.link-pop:hover {
    background-position: 63px -104px;
    color: #fff;
    border-color: #fff;
    }
input[type='submit'] {
  background: #1A1A1A;
  display: block;
  border: none;
  color: white;
  font-size: 10px;
  width: 80px;
  -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  text-transform: uppercase;
  line-height: 32px;
  text-align: center;
  padding: 0 15px;
  height: 30px;
  word-wrap: break-word;
  font-weight: bold;
  }
input {
  font: 14px/20px Arial, Helvetica, sans-serif;
  }
input[type='text'] {
  border: 1px solid #282828;
  background: #fff url(../images/sprite.png) no-repeat -220px 5px;
  color: #b3b3b3;
  font-weight: bold;
  width: 230px;
  height: 24px;
  padding: 2px 10px 2px 35px;
  line-height: 24px;
  }
small {
  font-size: 11px;
  color: #ffb7b7;
  }
/*Disables highlight selection on the map*/
#map img::-moz-selection,
#map img::selection {
  background: transparent;
  }

/*-----------------------------------
  Layout
-------------------------------------*/
html, body { height:100%; }
.limiter {
  width: 960px;
  margin: 0 auto;
  }
#header .limiter {
  position: relative;
  padding-top: 12px;
  }
#header {
  height: 50px;
  position: absolute;
  width: 100%;
  z-index: 10;
  }
  a.npr {
    background: transparent url(../images/logoFCC1.jpg) no-repeat 0 0;
    display: block;
    text-indent: -999em;
    width: 150px;
    height: 200px;
    position: absolute;
    left: 0;
    }

/*-----------------------------------
  Global Style
-------------------------------------*/
#header {
  background: #000;
  -moz-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.10);
  -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.10);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.10);
  }
#header a.title h1 {
  line-height: 26px;
  margin: 0;
  }
#header a.title {
  color: white;
  position: absolute;
  top: 12px;
  left: 165px;
  }
#header a span {
  color: #b3b3b3;
  }
ul.macro {
  position: absolute;
  top: 62px;
  left: 10px;
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, .3);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, .3);
  box-shadow: 0 1px 5px rgba(0, 0, 0, .3);
  }
  ul.macro li {
    margin-bottom: -1px;
    }
    ul.macro li a {
      color: white;
      font-weight: bold;
      padding: 6px 5px;
      background: white;
      color: #B3B3B3;
      width: 140px;
      display: block;
      }
      ul.macro li a.active {
        color: #fff;
        background-color: #1F90FF;
        }
.map-type {
  position: fixed;
  top: 13px;
  left: 370px;
  width: 120px;
  font-size: 10px;
  text-transform: uppercase;
  color: white;
  line-height: 14px;
  }
.location-search {
  background: #fff;
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 50px;
  }
.location-search input,
.location-search a.button {
  float: left;
  margin-left: 10px;
  margin-top: 10px;
  }
  .location-search input:active,
  .location-search a.button:active {
    position: relative;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    }

/*-----------------------------------
  Map
-------------------------------------*/
#map {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background: white url(../images/bg.png);
  }
#controls {
  position: absolute;
  top: 1px;
  left: 160px;
  }
/*Layer Switch Controls*/
#layerswitch {
  background: #fff;
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, .3);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, .3);
  box-shadow: 0 1px 5px rgba(0, 0, 0, .3);
  position: absolute;
  left: 10px;
  top: 130px;
  width: 150px;
  z-index: 5;
  }
  #layerswitch h4 {
    padding: 0 5px;
    }
  ul.cities li a {
    display: block;
    padding: 5px;
    background: #000;
    color: #fff;
    font-weight: bold;
    }
    ul.cities li a.dc {
      padding-bottom: 7px;
      }
    ul.cities li a.active,
    ul.cities li a:hover {
      background-color: #1F90FF;
      }

/*ZoomControls*/
a.zoomer {
  text-decoration: none;
  position: absolute;
  text-align: center;
  background: #282828;
  opacity: 0.90;
  -moz-opacity: 0.90;
  filter:alpha(opacity=90);
  color: white;
  font-size: 14px;
  z-index: 1;
  width: 30px;
  height: 25px;
  line-height: 25px;
  font-weight: bold;
  top: 60px;
  left: 10px;
  }
  a.zoomout {
    top: 85px;
    -moz-border-radius: 0 0 2px 2px;
    -webkit-border-radius: 0 0 2px 2px;
    border-radius: 0 0 2px 2px;
    border-top: 1px solid #111;
    }
  a.zoomin {
    -moz-border-radius: 2px 2px 0 0;
    -webkit-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0;
    }
    a.zoomer:active {
      opacity: 1;
      -moz-opacity: 1;
      filter:alpha(opacity=100);
      background: #000;
      -moz-box-shadow:inset 0px 0px 5px #000;
      -webkit-box-shadow:inset 0px 0px 5px #000;
      box-shadow:inset 0px 0px 5px #000;
      }
    a.zoomdisabled:active,
    a.zoomdisabled {
      opacity: 0.50;
      -moz-opacity: 0.50;
      filter:alpha(opacity=50);
      cursor: default;
      }
  
/*Zoombox*/
.zoombox-box,
.boxselector-box {
  margin:0;
  padding:0;
  border:1px dashed #888;
  background: rgba(255,255,255,0.25);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  display: none;
  }
.zoombox-box-container,
.boxselector-box-container,
.pointselector-box-container {
  margin: 0;
  padding: 0;
  position: absolute;
  background: url(blank.gif);
  top: 0;
  left: 0;
  }

/*Legend*/
.wax-legends {
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 5;
  background: #fff;
  color: #b3b3b3;
  padding: 10px;
  -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, .3);
  -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, .3);
  box-shadow: 0 1px 8px rgba(0, 0, 0, .3);
  border: 1px solid #8C8C8C;
  border: 1px solid rgba(0, 0, 0, .45);
  border-bottom: 1px solid #666;
  }
  .wax-legend .source {
    clear: both;
    }
  .wax-legends div.census-source {
    clear: both;
    }
  .wax-legends div.census-source a {
    color: #282828;
    }

/*Tooltip*/
#map .wax-tooltip {
  z-index: 4;
  position: absolute;
  right: 10px;
  top: 60px;
  width: 268px!important;
  padding: 15px 10px 10px;
  background: #fff;
  color: #b3b3b3;
  opacity: 1;
  z-index: 10;
  border: 1px solid #8C8C8C;
  border: 1px solid rgba(0, 0, 0, .45);
  -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, .3);
  -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, .3);
  box-shadow: 0 1px 8px rgba(0, 0, 0, .3);
  }
  .wax-tooltip.hide { opacity:0; }
  .wax-tooltip .int-title {
    font-size: 22px;
    line-height: 24px;
    display: block;
    margin: 0 0 10px;
    color: #000;
    }
  .wax-tooltip .chg-int {
    font-size: 14px!important;
    font-weight: bold;
    display: block;
    margin: 0 0 10px;
    color: #000;
    }
  .wax-tooltip .pop-int {
    font-size: 14px!important;
    margin-bottom: 0;
    }
  .wax-tooltip .chart-int {
    margin: 10px -10px 0!important;
    background: transparent;
    padding: 10px;
    }
  .wax-tooltip .regavg-int,
  .wax-tooltip .natavg-int {
    font-size: 13px!important;
    margin: 0 0 1px;
    }

/*Map attribution*/
.wax-attribution {
  position: absolute;
  z-index: 4;
  bottom: 10px;
  left: 10px;
  font-size: 11px;
  line-height: 28px;
  color: #939393;
  }
  .wax-attribution a {
    color: #939393;
    font-weight: bold;
    }
  .wax-attribution img {
    float: left;
    margin-right: 10px;
    }
  .wax-attribution .npr-white {
    margin-top:2px;
    margin-right:14px;
    }
@media screen and (max-device-width: 480px) {
  .wax-attribution {
    font-size: 6px;
    line-height: 17px;
    }
  }
/*data styling*/
.wax-tooltip img {
  margin: 10px 0;
  }

/*-------------
 * Bandwidth detector
 * ------------ */
#bwtoggle {
  font-size: 17px;
  width: 20px;
  height: 19px;
  padding: 3px 5px;
  color: white;
  position: absolute;
  top: 120px;
  left: 10px;
  z-index: 4;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: black;
  opacity: 0.35;
  -moz-opacity: 0.35;
  filter: alpha(opacity=35);
  font-family: 'AlternateGothicLTNo3Regular',Arial, sans-serif;
  line-height: 22px;
  text-align: center;
  }
#bwtoggle.active {
  opacity: 0.75;
  -moz-opacity: 0.75;
  filter: alpha(opacity=75);
  }

/*-------------
 * Embed code
 * ------------ */
#embed {
  position: absolute;
  z-index: 4;
  top: 120px;
  left: 70px;
  }
a.embed {
  background: #282828 url(../images/sprite.png) no-repeat -2px -3px;
  position: absolute;
  left: -60px;
  z-index: 1;
  width: 30px;
  height: 25px;
  display: block;
  z-index: 4;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  opacity: 0.90;
  -moz-opacity: 0.90;
  filter: alpha(opacity=90);
  }
#embed.active a.embed {
  opacity: 0.75;
  -moz-opacity: 0.75;
  filter: alpha(opacity=75);
}
/*Error box*/
.error {
  background: transparent url(../images/sprite.png) no-repeat 0 -190px;
  padding: 20px 12px 0;
  color: white;
  display: block;
  line-height: 15px;
  position: absolute;
  width: 200px;
  right: 46px;
  height: 40px;
  top: 32px;
  }
a.close {
  background: transparent url(../images/sprite.png) no-repeat -236px -31px;
  width: 7px;
  height: 7px;
  display: block;
  text-indent: -999em;
  position: absolute;
  top: 15px;
  right: 5px;
  }

/*Loading DIV*/
.loading {
  background: #1A1A1A;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  position: fixed;
  left: 50%;
  top: 240px;
  width: 100px;
  height: 50px;
  padding: 25px 0 0;
  margin: 0 0 0 -50px;
  z-index: 99999;
  }
.loading img {
  display: block;
  margin: 0 auto;
  }

/*-----------------------------------
  Markup free clearing
  Details: http: //perishablepress.com/press/2009/12/06/new-clearfix-hack
-------------------------------------*/
.clearfix:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  }

* html .clearfix { height: 1%; } /* IE6 */
*:first-child + html .clearfix { min-height: 1%; } /* IE7 */

/*-----
  Share links
-----*/
#share {
  position: absolute;
  top: 0;
  right: 320px;
  }
  #share div {
    background: white;
    display: none;
    font-weight: 900;
    font-size: 17px;
    position: absolute;
    top: 48px;
    right: -3px;
    width: 165px;
    padding: 12px 10px 5px;
    border: 2px solid black;
    -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, .3);
    -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, .3);
    box-shadow: 0 1px 8px rgba(0, 0, 0, .3);
    }
    #share ul {
      margin: 10px 0;
      float: right;
      }
      #share ul li {
        float: left;
        margin-right: 10px;
        }
        #share a.twitter {
          display: block;
          background: url(http://platform.twitter.com/widgets/images/tweet.dfbf1dd98bad9f5b5addd80494650dca.png) no-repeat;
          height: 20px;
          width: 55px;
          }
        #share a.twitter:hover {background-position: 0 -21px;}
        #share a.twitter:active {background-position: 0 -42px;}
        #share a.facebook {
          display: block;
          padding: 3px 10px 3px 20px;
          background: #ECEEF5 url(http://static.ak.fbcdn.net/rsrc.php/v1/y7/r/ql9vukDCc4R.png) no-repeat 2px -46px;
          border: #CAD4E7 1px solid;
          border-radius: 3px;
          -moz-border-radius: 3px;
          -webkit-border-radius: 3px;
          font-size: 11px;
          color: #3B5998;
          text-decoration: none;
          line-height: 11px;
          height: 12px;
          height: 12px;
          width: 28px;
          font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
          font-weight: normal;
          }
        #share a.facebook:hover {
          background-color: #ebedf4;
          border-color: #9dacce;
          }

/* Modal overlays */
#overlay {
  display:none;
  position:fixed;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  width: 100%;
  height: 100%;
  background: rgb(60,60,60) url(../images/modal-bg.png);
  background: rgba(60,60,60,.95) url(../images/modal-bg.png);
  z-index:98;
  }
.modal { display:none; }
.modal .popup {
  background: #222;
  position: relative;
  top: 70px;
  box-shadow: 0px 0px 5px rgba(0,0,0,.5);
  -moz-box-shadow: 0px 0px 5px rgba(0,0,0,.5);
  -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,.5);
  padding: 20px;
  height: 280px;
  z-index: 99;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  width: 400px;
  clear: both;
  margin: auto;
  }

.modal .popup p {
  margin-bottom: 1em;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.3;
  color: #ccc;
  }
.modal .popup h2 {
  color: white;
  font-size: 28px;
  line-height: 1;
  margin-bottom: 8px;
  margin-top: 15px;
  text-transform: uppercase;
  }
.modal a.close {
  background: transparent url(../images/sprite.png) no-repeat -220px -25px;
  width: 30px;
  height: 30px;
  display: block;
  text-indent: -999em;
  position: absolute;
  top:5px;
  right:5px;
  }
#embed-ex-image img { 
  width: 200px; 
  }
.modal input[type="text"] {
  background: #c0c0c0;
  color: #222;
  border: white 1px solid;
  padding: 2px;
  font-size: 90%;
  width: 90%;
  margin-bottom: 1em;
  }
.modal input[type="text"].search {
  width: 180px;
  }
.modal input[type="submit"] {
  background: #c0c0c0;
  color: #222;
  border: white 1px solid;
  padding: 2px;
  font-size: 90%;
  font-weight: 700;
  margin-bottom: 1em;
  position: relative;
  left: 5px;
  }
.modal input[type="submit"]:active,
.modal input[type="submit"]:focus {
  top: 1px;
  background: #ccc;
  color: #444;
  }
.modal input[type="submit"]:hover {
  color: #444;
  text-shadow: #eee 0 0 6px;
  }
.col {
  float: left;
  width: 50%;
  }
#geo-error {
  font-weight: 700;
  color: red;
  }

/* Legend */
.wax-legend .census-title {
  text-align: left;
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 12px;
  color: #101010;
  }
.wax-legend .census-scale ul {
  margin: 0;
  padding: 0;
  float: left;
  list-style: none;
  }
.wax-legend .census-scale ul li {
  display: block;
  float: left;
  width: 38px;
  margin-bottom: 5px;
  text-align: center;
  font-size: 10px;
  list-style: none;
  color: #101010;
  }
  .wax-legend ul.census-labels li span {
    height: 12px;
    width: 38px;
    }
  .wax-legend ul li span {
    display: block;
    float: left;
    }
  .wax-legend .census-source {
    font-size: 9px;
    font-weight: bold;
    text-transform: uppercase;
    }
.highlight {
  position: absolute;
  background: #1F90FF;
  border-top: 1px solid #00101f;
  border-bottom: 1px solid #00101f;
  width: 288px;
  height: 19px;
  left: 0;
  bottom: 76px;
  z-index: -1;
  opacity: 0.25;
  -moz-opacity: 0.25;
  filter:alpha(opacity=25);
  }

/*-----
  Targeted mobile style
-----*/
@media screen and (max-device-width: 480px) {
  /*Typography*/
  h1 {
    font-size: 22px;
    }
  h4 {
    font-size: 14px;
    line-height: 16px;
    margin: 5px 0;
    }
  #header a.title {
    left: 155px;
    }
    #share {
      right: 5px;
      top: 40px;
      }
    #share div {
      top: 35px;
      }
    a.link-pop {
      background: transparent url(../images/sprite.png) no-repeat 44px -54px;
      font-size: 16px;
      color: #000;
      }
      a.link-pop.active,
      a.link-pop:hover {
        color: #000;
        background-position: 44px -54px;
        }
  ul.macro {
    top: 55px;
    }
    ul.macro li a {
      padding: 1px 5px;
      width: 80px;
      font-size: 8px;
      }
  #layerswitch {
    width: 90px;
    font-size: 8px;
    top: 100px;
    }
    ul.cities li a {
      padding: 1px 5px;
      }
  #controls {
    display: none;
    }
  .location-search {
    width: 126px;
    }
    input[type="text"] {
      background: white;
      width: 98px;
      padding: 1px 5px;
      font-size: 8px;
      }
  .wax-attribution {
    font-size: 6px;
    line-height: 8px;
    }
  .point {
    right: -29px;
    }
  #map .wax-tooltip {
    width: 110px!important;
    padding: 5px;
    right: 5px;
    top: 55px;
    }
    .wax-tooltip .int-title {
      font-size: 12px;
      line-height: 14px;
      }
      .wax-legend .census-title,
      .wax-legend .census-scale,
      .wax-tooltip .poppct-int,
      .wax-tooltip .regavg-int,
      .wax-tooltip .natavg-int,
      .wax-tooltip .pop-int,
      .wax-tooltip .chg-int {
        font-size: 8px!important;
        line-height: 10px;
        }
      .wax-tooltip .chart-int {
        margin: 5px -5px 0!important;
        padding: 5px;
        }
        .wax-tooltip .chart-int img {
          width: 115px!important;
          height: 105px!important;
          }
    .wax-legends {
      padding: 5px;
      width: 110px;
      right: 5px;
      bottom: 5px;
      }
      .wax-legend .census-scale ul li,
      .wax-legend ul.census-labels li span {
        width: 15px;
        font-size: 4px;
        }
      .wax-legend .census-source {
        font-size: 5px!important;
        line-height: 7px;
        }
    .wax-attribution .npr-white { /* Sorry, this is just getting too crowded */
      display: none;
      }
    .wax-attribution img {
      width: 10%;
      margin-top: 0px;
      }
    #share div {
      font-size: 8px;
      width: 135px;
      padding: 5px 5px 0;
      }
  .error {
    background: transparent;
    padding: 0;
    color: #ff4a4b;
    line-height: 15px;
    position: absolute;
    width: 100px;
    right: 5px;
    height: auto;
    top: 32px;
    }
  a.close {
    background: transparent url(../images/sprite.png) no-repeat -236px -31px;
    width: 7px;
    height: 7px;
    display: block;
    text-indent: -999em;
    position: absolute;
    top: 15px;
    right: 5px;
    }
  }
.wax-tooltip {margin:0;width:280px !important;}.wax-tooltip .census-int {font-size:15px;  line-height:15px;  }.wax-tooltip .int-title {font-weight:bold;}.wax-tooltip .chg-int {font-size:85%;font-weight:bold;}.wax-tooltip .pop-int {font-size:80%;margin-bottom:4px;}.wax-tooltip .regavg-int, .wax-tooltip .natavg-int {  font-size:85%;  }.wax-tooltip .poppct-int, .wax-tooltip .regnum-int, .wax-tooltip .natnum-int {  padding-left:4px; }.wax-tooltip .poppct-int {font-weight:bold;font-size:15px;} .wax-tooltip img {  margin:0 !important;  padding:0 !important;  }.wax-tooltip .chart-int {  margin:2px 0 2px 0;  }

.wax-legends .hispanic {
    width: 363px!important;}
.wax-legend .hispanic .census-scale ul li {
    width: 33px;!important;}
.wax-legend .hispanic ul.census-labels li span {
    width: 33px;!important;}
