{% if page.frame == 'frame' %}
  {% include header_frame.html %}
{% else %}
  {% include header.html %}
{% endif %}

<div class="container">
  <div class="col">
    {% if page.frame != 'frame' %}
    <h3>{{ site.data.map.title }}</h3>
    {% endif %}
    <p id="help-text">{{ site.data.map.help }}</p>
    <p class="note">{{ site.data.map.note }}</p>
  </div>
</div>

<div class="container {% if page.frame == 'frame' %}frame{% endif %}">
  <div class="group">
    <div class="col col-7">
	  <div id="search"><input type="text" name="geo-loc" id="geo-loc" size="43" value="" maxlength="60" placeholder="Enter Location"></div>
      
      <div class="map-container">
      <button id="btn-geoLocation" class="btn-geoLocation" type="button" title="Get Current Location"><span class="icon-locate-1"></span></button>
      <div id="map"></div></div>
    </div>
    <div class="col col-3">
      {% include data.html %}
      {% include legend.html %}
    </div>
  </div>
  <div class="group">
    <div class="col col-7">
      {% include content.html %}    
    </div>
  </div>
</div>

{% include footer.html %}