<script src="//code.jquery.com/jquery-1.10.2.min.js" type="application/javascript"></script>  
<script src="//api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.js"></script>
<!--<script src="//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-hash/v0.2.1/leaflet-hash.js"></script>-->
<script src="//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v0.0.1/Leaflet.fullscreen.min.js"></script> 
<script src="js/l-hash.js"></script>
<script src="js/map.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        // nav
        $("#large a").click(function (event) {
            $('html, body').animate({
                scrollTop: $($(this).attr('href')).offset().top - 80
            }, 1000);
        });

        $("nav a").click(function (event) {
            event.preventDefault();
            if ($("#small").css("display") != "none") {
                $("#large").animate({
                    right: "-200px",
                    top: "0"
                }, 500);
                $(".container").animate({
                    right: "0"
                }, 500);
            }

            $('html, body').animate({
                scrollTop: $($(this).attr('href')).offset().top - 80
            }, 1000);

            $("#small").toggleClass('closed');
        });

        $("#small").click(function () {
            if ($("#small").hasClass('closed')) {
                $("#large").animate({
                    right: "0",
                    top: "0"
                }, 500);
                $(".container").animate({
                    right: "200px"
                }, 500);
            } else {
                $("#large").animate({
                    right: "-200px",
                    top: "0"
                }, 500);
                $(".container").animate({
                    right: "0"
                }, 500);
            }
            $("#small").toggleClass('closed');
        })

        $(".back-top").click(function (event) {
            event.preventDefault();
            $("html, body").animate({ scrollTop: 0 }, 1000);
        });
    });
</script> 
</body>
</html>