<footer>
    <div class="container">
        <div class="row">
            <address class="col-sm-6 col-md-6">
            Federal Communications Commission<br>
            445 12th Street SW<br>
            Washington, DC 20554<br>
            Phone: 1-888-225-5322<br>
            TTY:  1-888-835-5322<br>
            Fax: 1-866-418-0232<br>
            <a href="http://www.fcc.gov/contact-us" title="More FCC Contact Information">More FCC Contact Information...</a><br>
            </address>
            <ul class="list-unstyled col-sm-3 col-md-3">
                <li><a href="http://www.fcc.gov/rss" title="RSS">RSS</a></li>
                <li><a href="http://www.fcc.gov/encyclopedia/privacy-policy" title="Privacy Policy">Privacy Policy</a></li>
                <li><a href="http://www.fcc.gov/comment-policy" title="Moderation Policy">Moderation Policy</a></li>
                <li><a href="http://www.fcc.gov/encyclopedia/website-notices" title="Website Policies &amp; Notices">Website Policies &amp; Notices</a></li>
                <li><a href="http://www.fcc.gov/encyclopedia/required-plug-ins-players-and-readers" title="Required Browser &amp; Plug-ins">Required Browser &amp; Plug-ins</a></li>
            </ul>
            <ul class="list-unstyled col-sm-3 col-md-3">
                <li><a href="http://www.fcc.gov/foia" title="FOIA">FOIA</a></li>
                <li><a href="http://www.fcc.gov/encyclopedia/no-fear-act-data" title="No Fear Act Data">No Fear Act Data</a></li>
                <li><a href="http://www.fcc.gov/open" title="Open Government Directive">Open Government Directive</a></li>
                <li><a href="http://www.fcc.gov/encyclopedia/plain-writing-fcc" title="Plain Writing Act">Plain Writing Act</a></li>
                <li><a href="http://www.fcc.gov/encyclopedia/american-recovery-and-reinvestment-act-2009" title="2009 Recovery and Reinvestment Act">2009 Recovery and Reinvestment Act</a></li>
            </ul>
        </div>
    </div>
</footer>
 
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/libs/jquery-1.10.2.min.js"><\/script>')</script>
<script src="//api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.js"></script>
<script src="//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v0.0.1/Leaflet.fullscreen.min.js"></script> 
<script src="js/l-hash.js"></script>
<script src="js/map.js"></script>
<script>
    $("nav a").click(function (event) {
            event.preventDefault();
            if ($("#small").css("display") != "none") {
                $("#large").animate({
                    right: "-200px",
                    top: "0"
                }, 500);
                $(".container").animate({
                    right: "0"
                }, 500);
            }

            $('html, body').animate({
                scrollTop: $($(this).attr('href')).offset().top - 80
            }, 1000);
            
        });
</script>

</body>
</html>